
#title {
  background-color: #ee1162 ;
}

.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Marcellus", serif;
  font-weight: bold;
  font-size: 8rem;
  line-height: 1.5;
  color:white
}

h2 {
  color:white;
  font-family: "Marcellus", serif;
  font-size:1.5rem;
  font-weight:bold;
}

h3 {
  font-family: "Marcellus", serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;

}
.navbar {
  padding:0 0 4.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playwrite PE', cursive;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Marcellus", serif;
  font-family: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0%
}

.title-image {
  width:60%;
  transform:rotate(20deg);
  position:absolute;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position:relative;
  z-index: +1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color:#f35891(242, 128, 242);
  margin-bottom:1rem
}

.icon:hover {
  color:#8fdbf2;
}

#testimonials {
  text-align: center;
  background-color: #ee1162;
  color:white
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width:10%;
  border-radius: 50%;
  margin: 10px;
}

.carousel-button {
  border:none;
  background-color:transparent;
  color:none;
}

#press {
  background-color: #ee1162;
  text-align: center;
}

.press-logo {
  width:10%;
  margin: 20px 20px 50px;
}

#pricing {
 padding:90px; 
 text-align: center;
}

.pricing-header {
  color:black;
  font-family: "Marcellus", serif;
  
}

.pricing-column {
  padding: 3% 2%;
}

.card-body {
  color:black;
}

#cta {
  background-color:#ee1162 ;
  color:#fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Marcellus", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin:20px 10px;
  color:black
}

@media (max-width:1028px) {


  #title {
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}